<body>
    {% block content %}
    <div class="container">
        <div class="cart-header">
            <h1>Your Cart</h1>
        </div>
        <ul class="cart-items">
            {% for item in cart_items %}
            <li class="cart-item">
                <div class="cart-item-image-container">
                    <img class="cart-item-image" src="{{ item.product.thumbnail.url }}" alt="{{ item.product.name }}">
                </div>
                <div class="cart-item-details">
                    <div class="cart-item-name">{{ item.product.brand_name }}</div>
                    <div class="item-quantity">
                        <form action="{% url 'increase-cart-item' item.product.id %}" method="post">
                            {% csrf_token %}
                            <button class="quantity-btn increase-quantity" type="submit">+</button>
                        </form>
                        <span class="cart-item-quantity" data-quantity="{{ item.quantity }}">{{ item.quantity }}</span>
                        <form action="{% url 'decrease-cart-item' item.product.id %}" method="post">
                            {% csrf_token %}
                            <button class="quantity-btn decrease-quantity" type="submit">-</button>
                        </form>
                    </div>
                </div>
                <div class="cart-item-price" data-price="{{ item.product.price }}">
                    ${{ item.product.price }}
                </div>
                <div class="item-actions">
                    <form action="{% url 'remove-from-cart' item.product.id %}" method="post">
                        {% csrf_token %}
                        <button class="remove-from-cart-btn" type="submit">Remove</button>
                    </form>
                </div>
            </li>
            {% endfor %}
        </ul>
        <p class="total-price-data"><span id="total-price"></span></p>
    
        <a href="{% url 'productlist' %}" class="continue-shopping-link">
            <i class="mdi mdi-arrow-left me-1"></i> Continue Shopping
        </a>
        <a class="checkout-button" href="{% url 'shippingaddress' %}">Proceed to Checkout</a>
    </div>
    
    
    {% endblock %}
        </body>