<div class="main-panel" style="max-width: 100%; overflow-x: hidden;">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-sm-12 bg-light">
                <div class="row">
                    <div class="col-xl-8">
                        <a href="{% url 'productlist' %}" class="btn btn-link text-muted ">
                            <i class="mdi mdi-arrow-left me-1"></i> Continue Shopping
                        </a>
                    </div>
                    <div class="col-xl-2">
                        <!-- Add content if needed -->
                    </div>
                </div>


                <div class="container-fluid text-center mt-5"> <!-- Changed to container-fluid for full width -->
                    <div class="row" id="pro">
                        <div class="col-xl-8 mx-auto">
                            <table id="example">
                                {% for item in cart_items %}
                                    <li class="cart-item">
                                        <div class="cart-item-details">
                                            <!-- Display Product Image in a Circle -->
                                            <div class="cart-item-image-container">
                                                <img class="cart-item-image" src="{{ item.product.thumbnail.url }}" alt="{{ item.product.name }}">
                                            </div>
                                            <div class="cart-item-info">
                                                <div class="cart-item-name">{{ item.product.name }}</div>
                                                <div class="cart-item-price" data-price="{{ item.product.price }}">
                                                    ${{ item.product.price }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cart-item-quantity">
                                            <form action="{% url 'decrease-cart-item' item.product.id %}" method="post">
                                                {% csrf_token %}
                                                <button class="quantity-btn decrease-quantity" type="submit">-</button>
                                            </form>
                                            <span class="item-quantity">{{ item.quantity }}</span>
                                            <form action="{% url 'increase-cart-item' item.product.id %}" method="post">
                                                {% csrf_token %}
                                                <button class="quantity-btn increase-quantity" type="submit">+</button>
                                            </form>
                                        </div>
                                        <form action="{% url 'remove-from-cart' item.product.id %}" method="post">
                                            {% csrf_token %}
                                            <button class="remove-from-cart-btn" type="submit">Remove</button>
                                        </form>
                                    </li>
                                {% endfor %}
                                <p class="total-price-data"><span id="item.total-price"></span></p>
                                <a class="checkout-button" href="{% url 'shippingaddress' %}">Proceed</a>
                            </table>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
</div>